.a{
		background-color: #0000009c;
		
	}
.b{
	font-family: 'Prompt', sans-serif;
}
.w{
	background:  url(https://www.firstfiddle.in/assets/images/bannerabout.jpg);
	background-size: cover;
    color: red;
    width: 100%;
}
*{
	margin: 0;
	padding: 0;
}